@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
}


/* Shared styles */
.flex {
    display: flex;
}

.detail {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 0.89rem;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-bottom: 15px;
}



hr {
    height: 1px;
    margin: 27px 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
    border: 0;
}

hr:after {
    display: block;
    content: '';
    height: 30px;
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
    background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}





/* Header related styles */
header,
main {
    width: calc(100% - 105px - 105px);
    margin: 0 auto;
}

main {
    width: calc(100% - 105px - 105px);
    margin: 100px auto;
}
.section-1{
    padding-top: 52px;
}

.navbar {
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav {
    align-items: center;
    gap: 26px;
}

.nav-title {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: rgb(58, 58, 58);
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 0.89rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

/* Banner related styles */
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 115px;
    margin-bottom: 87px;
}

.banner-title {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    margin-bottom: 15px;
}

.primary-btn {
    color: white;
    font-size: 0.88rem;
    font-weight: 600;
    line-height: 20px;
    align-items: center;
    gap: 8px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    padding: 10px 24px 10px 24px;
    border: none;
}

.banner-img {
    max-width: 388px;
    position: absolute;
    top: 154px;
    left: 693px;
}

.bg-image {
    max-width: 418px;
}

/* Company related style */
.companies {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: baseline;
    margin-left: 38px;
    gap: 50px;
    padding: 0;
}

/* Popular section related styles */
.main-title {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    text-align: center;
    margin-bottom: 30px;
}

.popular-cards {

    display: grid;
    grid-template-columns: repeat(3, 294px);
    grid-template-rows: repeat(3, 1fr);

    gap: 30px;
}

.section-2 {
    width: 943px;
    margin: 0 auto 70px;
}


.card-box {
    padding: 15px 13px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}

.card-box>img {
    width: 100%;
}

.product-name {
    color: rgb(24, 25, 31);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
}

.product-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.rating {
    color: rgb(94, 99, 102);
    font-family: Roboto;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.1px;
    text-align: left;
}

.card-details {
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 1.8%;
    text-align: left;
}

.see-more {
    margin-top: 25px;
    color: #E02C6D;
    justify-content: flex-end;
    align-items: center;
    gap: 9px;
}

/* section 3 related styles */

.sec-3-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.sec-3-box {
    max-width: 542px;
    margin-bottom: 23px;
}

.sec-3-title {
    color: rgb(10, 8, 38);
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    margin-bottom: 16px;
}

.sec-3-detail {
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}

.sec-btn {
    padding: 8px 21px 8px 21px;
    border-radius: 0px;
    background: rgb(224, 44, 109);
}

/* Footer section */
footer {
    color: white;
    background-color: rgb(9, 18, 32);
    padding: 40px 300px;
}

.footer-title {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1.34rem;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-bottom: 8px;
}

.footer-detail {
    color: rgb(217, 219, 225);
    font-size: 0.78rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-bottom: 8px;
}

.footer-icon{
    justify-content: center;
}

.footer-box{
    background-color: #23213c;
    margin: 13px;
    width: 20px;
    height: 20px;
    padding: 8px 8px;
    border-radius: 50%;
}
.footer-image{
    max-width: 100%;
}